@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    font-family: 'Amatic SC', cursive;
    background-color: rgb(224, 201, 166);
    margin: 0;
}

h1 {
    margin-top: 1em;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

h2 {
    margin-top: .85em;
    font-size: 30px;
}

p {
    font-size: 1.7em;
}

p.propertiesTable {
    display: flex;
    justify-content: space-evenly;
    font-size: 2.5em;
    font-weight: 500;
}

p.displayProperties {
    display: flex;
    justify-content: space-evenly;
}

span.displayedWeddingProperties {
    text-align: center;

}

label {
    font-size: 25px;
    font-weight:500;
}

input {
    font-size: 18px;
    height:25px;
    margin: .5em;
}

button {
    font-size: 20px;
}

button:hover {
    background-color: rgb(235, 211, 176);
    cursor: pointer;
}

.container {
    text-align: center;
}

/* .register-wedding-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
} */