nav {
    background-color: rgb(167, 150, 126);
    display: flex;
    justify-content: space-around;

}

nav a:link, nav a:visited {
    background-color: rgb(167, 150, 126);
    font-size: 1.8em;
    color: black;
    text-decoration: none;
}

nav a:hover, nav a:active {
    background-color: rgb(167, 150, 126);
    font-size: 1.8em;
    color: rgb(236, 236, 236);
    text-decoration: none;
}
