table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

thead {
    display: flex;
    justify-content: space-around;
    border-spacing: 2.5em;
    font-size: 1.75em;
}

tbody {
    border-spacing: 2.3em;
    font-size: 1.5em;
}